version: '3.9'

services:
  langfuse-server:
    image: langfuse/langfuse:latest
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    depends_on:
      db:
        condition: service_started
      clickhouse:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - NEXTAUTH_SECRET=554850ce1900cbdde4c628e2cd1fafc0b918fb4c310187912dc7d221c858b222
      - SALT=ac1368bf27e6955a2524c20865f0241f7f3448ef05cff7734485434d9c17c389
      - NEXTAUTH_URL=http://localhost:3000
      - HOSTNAME=0.0.0.0
      - TELEMETRY_ENABLED=false
      - CLICKHOUSE_HOST=clickhouse
      - CLICKHOUSE_USER=langfuse
      - CLICKHOUSE_PASSWORD=password
      - CLICKHOUSE_URL=http://clickhouse:8123
      - CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse:9000
      - CLICKHOUSE_CLUSTER_ENABLED=false
      - ENCRYPTION_SECRET=7ce657521cb028b57b65331bef2707d9a13c8f97ce7b1a6669f4d7dbd90e442d

  langfuse-worker:
    image: langfuse/langfuse:latest
    depends_on:
      db:
        condition: service_started
      clickhouse:
        condition: service_started
      langfuse-server:
        condition: service_healthy
    environment:
      - SKIP_MIGRATIONS=true
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - NEXTAUTH_SECRET=554850ce1900cbdde4c628e2cd1fafc0b918fb4c310187912dc7d221c858b222
      - SALT=ac1368bf27e6955a2524c20865f0241f7f3448ef05cff7734485434d9c17c389
      - CLICKHOUSE_HOST=clickhouse
      - CLICKHOUSE_USER=langfuse
      - CLICKHOUSE_PASSWORD=password
      - CLICKHOUSE_URL=http://clickhouse:8123
      - CLICKHOUSE_MIGRATION_URL=clickhouse://clickhouse:9000
      - CLICKHOUSE_CLUSTER_ENABLED=false
      - ENCRYPTION_SECRET=7ce657521cb028b57b65331bef2707d9a13c8f97ce7b1a6669f4d7dbd90e442d

  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    user: "101:101"
    container_name: clickhouse
    hostname: clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8123/ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - clickhouse_log:/var/log/clickhouse-server
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_USER=langfuse
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
      - CLICKHOUSE_PASSWORD=password

  prometheus:
    image: prom/prometheus
    volumes:
      - ./config/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - default

  grafana:
    image: grafana/grafana
    volumes:
      - ./config/monitoring/grafana-datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
    networks:
      - default

volumes:
  postgres_data:
  clickhouse_data:
  clickhouse_log:
