fastapi
uvicorn
neo4j
python-dotenv
jinja2
requests
httpx
pytest
google-generativeai
python-multipart
importlib-metadata
PyYAML
pandas
openpyxl
authlib
python-jose[cryptography]
itsdangerous
boto3
langgraph
langchain
langchain-community
langfuse
opencv-python-headless
prometheus-fastapi-instrumentator
